@import 'mixins';
@import 'variables';
@import 'fonts';
@import 'bootstrap';

body {
  font-family: Perpetua;
  color: $txt-colour;
  background: url("../images/basic_page_background.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: transparent;
  text-align: justify;
}

.content {
  &__trailer {
    font-size: 5em;
    height: 450px;
  }
  &__info {
    margin-bottom: 50px;
    &__leader {
      font-size: 1.85em;
    }
    &__normal {
      font-size: 1.4em;
    }
  }
  &__social {
  font-size: 15px;
    &__contact {
      border-color: $txt-colour;
      color: $txt-colour;
      padding-right: 10%;
      margin-bottom: 50px;
        &__title {
          border-bottom: 1px solid $txt-colour;
          font-size: 2em;
          font-weight: lighter;
          margin: 0;
        }
        & a {
          &:visited {
            color: lighten( $txt-colour, 15% );
          }
          &:hover {
            color: darken( $txt-colour, 15% );
          }
          &:link,
          &:active {
            color: $txt-colour;
          }
        }
    }
    &__logo {
      height: 35px;
    }
    &__signup {
      padding-left: 10%;
      margin-bottom: 30px;
        &__slug {
          font-size: 1em;
          font-weight: lighter;
          margin: 0;
          line-height: 2;
        }
        &__email {
          background-color: transparent;
          border-color: $txt-colour;
          color: $txt-colour;
          margin-top: 17.5px;
          margin-bottom: 17.5px;
        }
        & .button {
          color: $txt-colour;
          background-color: transparent;
          border-color: $txt-colour;
        }
    }
  }
}

.col-lg-6 {
  padding: 0;
}

h1 {
  margin: 30px 0;
  font-size: 4em;
  text-align: center;
  font-weight: 100;
  border-bottom: 2px solid $txt-colour;
}

.header {
  padding: 30px;
}

.header__logo {
  margin-bottom: 25px;
  margin-top: 25px;
  width: 100%;
}

@media screen and (max-width: 992px) {
  body {
    padding: 0 20px;
  }
  .content {
    &__trailer {
      height: 350px;
    }
    &__info {
      border-bottom: 1px solid $txt-colour;
    }
    &__social {
      &__contact {
        border-bottom: 1px solid $txt-colour;
        margin-bottom: 0;
        padding-bottom: 50px;
        &__title {
          border-bottom: 0px;
        }
      }
      &__signup {
        margin-top: 50px;
        padding-left: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .content {
    &__social {
      &__signup {
        padding-left: 0;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 2.25em;
  }
  .content {
    &__trailer {
      height: 250px;
    }
    &__info {
      &__normal {
        font-size: 1.1em;
      }
      &__leader {
        font-size: 1.3em;
      }
    }
    &__social {
      &__contact {
        margin-bottom: 0;
        padding-bottom: 50px;
        &__title {
          font-size: 1.5em;
        }
      }
    }
  }
}
