@import 'mixins';
@import 'variables';
@import 'fonts';
@import 'bootstrap';

body {
  font-family: Perpetua;
  color: $txt-colour;
  background: url("../images/basic_page_background.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: transparent;
  text-align: justify;
}

.content {
  &__trailer {
    font-size: 5em;
  }
  &__info {
    font-size: 1.13em;
    margin-bottom: 50px;
    &__leader {
      font-size: 1.75em;
    }
  }
  &__social {
  font-size: 15px;
    &__contact {
      border-color: $txt-colour;
      height: 30px;
      color: $txt-colour;
      padding-right: 10%;
      margin-bottom: 50px;
        &__title {
          border-bottom: 1px solid $txt-colour;
          font-size: 2em;
          font-weight: lighter;
        }
        & a {
          &:visited {
            color: lighten( $txt-colour, 15% );
          }
          &:hover {
            color: darken( $txt-colour, 15% );
          }
          &:link,
          &:active {
            color: $txt-colour;
          }
        }
    }
    &__logo {
      height: 35px;
    }
    &__signup {
      padding-left: 10%;
        &__slug {
          font-size: 1em;
          font-weight: lighter;
        }
        &__email {
          background-color: transparent;
          border-color: $txt-colour;
          color: $txt-colour;
          margin-bottom: 17.5px;
        }
        & .button {
          color: $txt-colour;
          background-color: transparent;
          border-color: $txt-colour;
        }
    }
  }
}

.col-lg-6 {
  padding: 0;
}

h1 {
  margin: 30px 0;
  font-size: 4em;
  text-align: center;
  border-bottom: 2px solid $txt-colour;
}

@media screen and (max-width: 992px) {
  .content {
    &__social {
      &__signup {
        padding-left: 0;
      }
    }
  }
}
