<main>
  <article>
  <header class="header">
    GILL &amp; GILL
    <hr class="header__hr">
  </header>
  <section class="section__video">
    <iframe src="https://player.vimeo.com/video/118265669?byline=0&portrait=0" width="100%" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </section>
  <section class="section__pitch">
    <p class="section__pitch--leader">
      'Gill &amp; Gill' is a visual essay that explores humanity's relationship with stone by juxtaposing two masters of their craft: one of rock climbing, the other of letter carving.
    </p>
    <p class="section__pitch">
      The film looks at the way these seemingly different practices, united by a common material, share basic principles such as: creativity, problem solving, dedication and muscle memory. Through this unusual comparison we can better understand the artistry in both crafts, and in so doing reflect more generally on craftwork and humanity's relationship with the material world.
    </p>
    <p class="section__pitch">
      Whilst the title, 'Gill &amp; Gill', refers to the fathers of modern letter carving and bouldering, Eric Gill and John Gill respectively, the narrative is illustrated through two contemporary virtuosos of their craft: Richard Kindersley, the world-renowned letter carver and maker of standing stones, and Lucy Creamer, the most accomplished female climber in Britain.
    </p>
    <p class="section__pitch">
      Narrated by the esteemed British actor, Clive Russell.
    </p>
  </section>

  <section class="section__social">

    <div>
      <h3 class="section__social__title">
        CONTACT
      </h3>
      <hr class="section__social--hr">
      <p class="section__social--p">
        <a href="mail-to:info@gillandgillfilm.com">
          info@gillandgillfilm.com
        </a>
      </p>
      <img src="images/twitter24.png" alt="twitter"
           class="section__social--logo"/>
      <img src="images/facebook_logo.png" alt="facebook"
           class="section__social--logo"/>
    </div>

    <div>
      <div id="mc_embed_signup">
        <form action="//louis-jack.us11.list-manage.com/subscribe/post?u=c6d50276c243d953b53131fdf&amp;id=78f528f41c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <p>
	             <label for="mce-EMAIL">Subscribe to the mailing list</label>
            </p>
	          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_c6d50276c243d953b53131fdf_78f528f41c" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <footer>

  </footer>
  </article>
</main>
