<main class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2
                col-md-8 col-md-offset-2
                col-sm-8 col-sm-offset-2
                col-xs-12 col-xs-offset-0">
  <article>
  <header class="header">
    <h1>GILL &amp; GILL</h1>
  </header>

  <section class="content__trailer">
    <iframe src="https://player.vimeo.com/video/118265669?byline=0&portrait=0"
            width="100%" height="450" frameborder="0"
            webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
  </section>

  <section class="content__info">
    <p class="content__info__leader">
      'Gill &amp; Gill' is a visual essay
      that explores humanity's relationship
      with stone by juxtaposing two masters
      of their craft: one of rock climbing,
      the other of letter carving.
    </p>
    <p>
      The film looks at the way these
      seemingly different practices, united
      by a common material, share basic
      principles such as: creativity, problem
      solving, dedication and muscle memory.
      Through this unusual comparison we can
      better understand the artistry in both
      crafts, and in so doing reflect more
      generally on craftwork and humanity's
      relationship with the material world.
    </p>
    <p>
      Whilst the title, 'Gill &amp; Gill',
      refers to the fathers of modern letter
      carving and bouldering, Eric Gill and
      John Gill respectively, the narrative
      is illustrated through two contemporary
      virtuosos of their craft: Richard
      Kindersley, the world-renowned letter
      carver and maker of standing stones,
      and Lucy Creamer, the most accomplished
      female climber in Britain.
    </p>
    <p>
      Narrated by the esteemed British actor,
      Clive Russell.
    </p>
  </section>

  <section class="content__social">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="content__social__contact">
        <p class="content__social__contact__title">
          CONTACT
        </p>
        <p>
          <a href="mail-to:info@gillandgillfilm.com">
            info@gillandgillfilm.com
          </a>
        </p>
        <a href="#">
          <img src="images/twitter24.png"
               alt="twitter"
               class="content__social__logo"/>
        </a>
        <a href="#">
          <img src="images/facebook_logo.png"
               alt="facebook"
               class="content__social__logo"/>
        </a>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="content__social__signup">
      <div id="mc_embed_signup">
        <form action="//louis-jack.us11.list-manage.com/subscribe/post?u=c6d50276c243d953b53131fdf&amp;id=78f528f41c"
              method="post"
              id="mc-embedded-subscribe-form"
              name="mc-embedded-subscribe-form"
              class="validate"
              target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <p class="content__social__signup__slug">
	             <label for="mce-EMAIL">
                 SUBSCRIBE TO MAILING LIST
               </label>
            </p>
	          <input type="email" value=""
                   name="EMAIL" class="content__social__signup__email" id="mce-EMAIL"
                   placeholder="email address" required>
            <div style="position: absolute; left: -5000px;">
              <input type="text" name="b_c6d50276c243d953b53131fdf_78f528f41c"
                     tabindex="-1" value="">
            </div>
            <div class="clear">
              <input type="submit" value="Subscribe"
                     name="subscribe" class="button"
                     id="mc-embedded-subscribe">
            </div>
          </div>
        </form>
      </div>
    </div>
    </div>
  </section>
  <footer>

  </footer>
  </article>
        </div>
  </div>
</main>
